HOST: http://api.glsdashboard.com/

--- GLS Dashboard API v1.5.5 ---
---
All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)

Blueprint controlled through a [github repo](https://github.com/cmcculloh/test-apiary/blob/master/apiary.apib)

[REST Spec](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)
---


--
Broadcast Statuses
--
Retrieve broadcast statuses
GET /broadcast_statuses
> Content-Type: aplication/json
< 200
< Content-Type: application/json
{ "items": [{
	"id":1,
	"status":"Broadcasting Web Stream - Due to Weather",
	"require_details": true,
	"marker_url": "http://www.google.com"
}] }



--
Issues
--
Retrieve Issues
GET /issues
> Content-Type: aplication/json
{ "resolved": false }
< 200
< Content-Type: application/json
{ "items": [{
	"url":"/issues/1",
	"id":1,
	"created":"Wed Jun 12 2013 11:33:14 GMT-0400 (CDT)",
	"site_id":"1",
	"site_name":"First Church of Christ",
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-555-1212",
}] }

Create new issue
POST /issue
> Content-Type: application/json
{
	"site_id":"1",
	"broadcast_status_id":1,
	"details": "these are my details"
}
< 201
< Content-Type: application/json
{ "items": [{
	"url":"/issues/1",
	"id":1,
	"created":"Wed Jun 12 2013 11:33:14 GMT-0400 (CDT)",
	"site_id":"1",
	"site_name":"First Church of Christ",
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-555-1212",
	"issue_length":"5"
}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) an issue
PUT /issue/{id}
> Content-Type: application/json
{
	"user_id":"1",
	"comment": "adsfasdf adsfadsf asdfasdf",
	"issue_type_id": "1"
}
< 200
< Content-Type: application/json
{ "items": [{
	"site_id":"1",
	"site_name":"First Church of Christ",
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-555-1212",
	"issue_length":"5"
}] }
+++++
< 201
< Content-Type: application/json
{ "items": [ {
	"site_id":"1",
	"site_name":"First Church of Christ",
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-555-1212",
	"issue_length":"5"
}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }


--
Chat
This is very much subject to change once i start actually implementing chat...

"All Live" field would just contain a comma separated list of all llive location types that would then be broken out into the proper recipients
--
Send a chat message
POST /chat
> Content-Type: application/json
{ "message": "some text here", "userid": 1, "recipients": [{'locationType': 1}, {'locationType': 2}, {'locationId': 1}] }
< 204

Retrieve chat messages applicable to user (includes chat sent directly to that user, to user's site and to all in user's site type, etc.). I'm thinking I'll handle pagination on client side
GET /chat
> Content-Type: application/json
{ "userid": 1 }
< 200
< Content-Type: application/json
{ "items": [{
	"user_name": "John Doe",
	"message": "Some text here",
	"date": "Wed Jun 12 2013 11:33:14 GMT-0400 (CDT)"
	"recipients": [{'locationType': 1}, {'locationType': 2}, {"site_id":"sadfsasdf", "site_name":"First Church of Christ}],
	"type": "issue|chat",
	"issue_data":{
		"issue_id":1
		"site_id":1,
		"site_name":"First Church of Christ",
		"broadcast_status_id":1,
		"broadcast_status":"Broadcasting Web Stream - Due to Weather",
		"details":"asdf asdf asdf asdf",
		"contact_person":"John Smith",
		"contact_number":"555-555-1212"
	}
}] }



--
Admin Settings
--
Retrieve Settings
GET /settings
> Content-Type: application/json
< 200
< Content-Type: application/json
{ "items": [{
	"logo":"data:image/png;base64,iVBORw0KGgoAAAANS...",
	"welcome_subject":"blah lah blah",
	"welcome_content":"afds asdf aafds asd fasdfasdf"
}] }

Update (200) or Create (201) admin settings
PUT /settings
> Content-Type: application/json
{
	"logo":"data:image/png;base64,iVBORw0KGgoAAAANS...",
	"welcome_subject":"blah lah blah",
	"welcome_content":"afds asdf aafds asd fasdfasdf"
}
< 204


--
Site Types
--
Retrieve Site Types
GET /site_types
> Content-Type: application/json
< 200
< Content-Type: application/json
{ "items": [{
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }

Create new site type
POST /site_type
> Content-Type: application/json
{
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}
< 201
< Content-Type: application/json
{ "items": [
{
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a site type
PUT /site_type/{id}
> Content-Type: application/json
{
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}
< 200
< Content-Type: application/json
{ "items": [
{
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 201
< Content-Type: application/json
{ "items": [ {
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 400
{ "items": [
	{ "message": "please check your payload and try again" }
] }








--
Sites
--
Retrieve Sites
GET /sites
> Content-Type: application/json
< 200
< Content-Type: application/json
{ "items": [
	{
		"url":"/sites/1",
		"id":1,
		"site_id":"sadfsasdf",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"lat": 234234,
		"lon": 324325,
		"markerURL": "http://www.google.com"
	}
] }

Create new site
POST /site
> Content-Type: application/json
	{
		"site_id":"sadfsasdf",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
	}
< 201
< Content-Type: application/json
{ "items": [
	{
		"url":"/sites/1",
		"id":1,
		"site_id":"sadfsasdf",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
		"lat": 234234,
		"lon": 324325,
		"markerURL": "http://www.google.com"
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a site
PUT /site/{id}
> Content-Type: application/json
{
	"site_id":"sadfsasdf",
	"site_name":"Willow Creek Community Church",
	"site_type_id":1,
	"site_time":"live",
	"address": "123 N Main Street",
	"city": "Indianapolis",
	"state": "Indiana",
	"zipcode": "46221"
}
< 200
< Content-Type: application/json
{ "items": [
	{
		"url":"/sites/1",
		"id":1,
		"site_id":"sadfsasdf",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
		"lat": 234234,
		"lon": 324325,
		"markerURL": "http://www.google.com"
	}] }
+++++
< 201
< Content-Type: application/json
{ "items": [ {
	"url":"/sites/1",
	"id":1,
	"site_id":"sadfsasdf",
	"site_name":"Willow Creek Community Church",
	"site_type_id":1,
	"site_type": "premiere",
	"site_time":"live",
	"address": "123 N Main Street",
	"city": "Indianapolis",
	"state": "Indiana",
	"zipcode": "46221"
	"lat": 234234,
	"lon": 324325,
	"markerURL": "http://www.google.com"
}] }
+++++
< 400
{ "items": [
	{ "message": "please check your payload and try again" }
] }






--
Login
--
login a user
POST /login
> Content-Type: application/json
{ "username":"john@gmail.com", "userpassword": "password" }
< 200
< Content-Type: application/json
{ "items": [
{
	"url":"/users/1",
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"isAdmin":false,
	"site":{
		"url":"/sites/1",
		"id":1,
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
	},
	"profileUpdatePrompt": true
}
] }
+++++
< 400
{ "items": [
{ "message": "invalid username/password" }
] }

--
Reset Password
--
reset a user's password
GET /reset-password
> Content-Type: application/json
{ "email": "john@gmail.com" }
< 205

--
Users
The following is a section of resources related to users
--
retrieve all users
GET /users
< 200
< Content-Type: application/json
{ "items": [{
	"url":"/users/1",
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"isAdmin":false,
	"site":{
		"url":"/sites/1",
		"id":1,
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
	},
	"profileUpdatePrompt": false
}] }

retrieve all users by site (location)
GET /users/site/{site}
< 200
< Content-Type: application/json
{ "items": [{
	"url":"/users/1",
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"isAdmin":false,
	"site":{
		"url":"/sites/1",
		"id":1,
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
	},
	"profileUpdatePrompt": false
}] }


retrieve requested user by id
GET /users/{1}
< 200
< Content-Type: application/json
{ "items": [{
	"url":"/users/1",
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"isAdmin":false,
	"site":{
		"url":"/sites/1",
		"id":1,
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
	},
	"profileUpdatePrompt": false
}] }
+++++
< 400
< Content-Type: application/json
{ "items": [
    { "message": "Please provide a user's id" }
] }

Create new user
POST /user
> Content-Type: application/json
{ "username":"jdoe", "email": "jdoe@gmail.com", "full_name":"John Doe", "mobile_phone":"555-555-5555", "isAdmin": false, site_id: 1 }
< 201
< Content-Type: application/json
{ "items": [
    {
       "url":"/users/1",
	   "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
       "full_name":"John Doe",
       "mobile_phone":"555-555-5555",
	   "isAdmin":false,
		"site":{
			"url":"/sites/1",
			"id":1,
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221"
		},
       "profileUpdatePrompt": false
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a user
PUT /user/{id}
> Content-Type: application/json
{ "username":"jdoe", "email": "jdoe@gmail.com", "password": "password", "full_name":"John Doe", "mobile_phone":"555-555-5555", "isAdmin": false, site_id: 1 }
< 200
< Content-Type: application/json
{ "items": [
{
       "url":"/users/1",
       "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
       "full_name":"John Doe",
       "mobile_phone":"555-555-5555",
	   "isAdmin":false,
		"site":{
			"url":"/sites/1",
			"id":1,
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221"
		},
       "profileUpdatePrompt": false
	}] }
+++++
< 201
< Content-Type: application/json
{ "items": [
{
       "url":"/users/1",
       "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
       "full_name":"John Doe",
       "mobile_phone":"555-555-5555",
	   "isAdmin":false,
		"site":{
			"url":"/sites/1",
			"id":1,
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221"
		},
       "profileUpdatePrompt": false
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }


Delete user by id
DELETE /user/{id}
> Content-Type: application/json
{ "id":1, "username": "jdoe" }
< 204
+++++
< 400
{ "items": [
{ "message": "please provide user's id" }
] }


