HOST: http://api.glsdashboard.com/api/v1/

--- GLS Dashboard API v1.9 ---
---
test
All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)

Blueprint controlled through a [github repo](https://github.com/cmcculloh/test-apiary/blob/master/apiary.apib)

[REST Spec](http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html)
---

--
Page startup routes
--
rather than calling each route needed for the data for a page when it is starting up, these routes consolidate
calls needed to load a page to one single call that returns all data


-
Dashboard
-
Get all data required to laod the dashboard.
Defaults: resolved=false for issues, page=1 & items_per_page=10 for chats
GET /startup/dashboard?user_id={user_id}
< 200
< Content-Type: application/json
{
	"chats": {
		"items": [{
				"id":10,
				"full_name": "John Doe",
				"message": "issue details",
				"date": 1372535760,
				"recipients": [{"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "issue",
				"meta_data":{
					"issue_id":1,
					"site_id":1,
					"site_number":"87",
					"site_name":"First Church of Christ",
					"broadcast_status_id":1,
					"broadcast_status":"Broadcasting Web Stream - Due to Weather",
					"details":"issue details",
					"hd":false
				}
			},
			{
				"id":9,
				"full_name": "Jane Doe",
				"message": "This is my chat text",
				"date": 1372950765,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":8,
				"full_name": "Jane Doorknob",
				"message": "This is my chat text right here!!!",
				"date": 1372534777,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":7,
				"full_name": "Jane Doe",
				"message": "This is my chat text",
				"date": 1372950765,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":6,
				"full_name": "Jane Doorknob",
				"message": "This is my chat text right here!!!",
				"date": 1372534777,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":5,
				"full_name": "Jane Doe",
				"message": "This is my chat text",
				"date": 1372950765,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":4,
				"full_name": "Jane Doorknob",
				"message": "This is my chat text right here!!!",
				"date": 1372534777,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":3,
				"full_name": "Jane Doe",
				"message": "This is my chat text",
				"date": 1372950765,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":2,
				"full_name": "Jane Doorknob",
				"message": "This is my chat text right here!!!",
				"date": 1372534777,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			},
			{
				"id":1,
				"full_name": "Jane Doe",
				"message": "This is my chat text",
				"date": 1372950765,
				"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
				"type": "chat"
			}
		]
	},
	"sites": {
		"items": [
			{
				"id":1,
				"site_number":"87",
				"site_name":"Willow Creek Community Church",
				"site_type_id":1,
				"site_type": "premiere",
				"site_time":"live",
				"site_status_id":1,
				"address": "123 N Main Street",
				"city": "Indianapolis",
				"state": "Indiana",
				"zipcode": "46221",
				"latitude": 41.850033,
				"longitude": -87.65005229999997,
				"marker_url": "http://maps.google.com/mapfiles/kml/paddle/grn-blank.png",
				"hd": true
			},
			{
				"id":2,
				"site_number":"76",
				"site_name":"Oak Drive Community Church",
				"site_type_id":2,
				"site_type": "Special Edition",
				"site_time":"live",
				"site_status_id":1,
				"address": "123 N Main Street",
				"city": "Indianapolis",
				"state": "Indiana",
				"zipcode": "46221",
				"latitude": 40.0150,
				"longitude": -105.2700,
				"marker_url": "http://maps.google.com/mapfiles/kml/paddle/purple-blank.png",
				"hd": false
			},
			{
				"id":3,
				"site_number":"23",
				"site_name":"Mulberry Lake Community Church",
				"site_type_id":1,
				"site_type": "premiere",
				"site_time":"delayed",
				"site_status_id":1,
				"address": "123 N Main Street",
				"city": "Indianapolis",
				"state": "Indiana",
				"zipcode": "46221",
				"latitude": 33.890542,
				"longitude": -111.274856,
				"marker_url": "http://maps.google.com/mapfiles/kml/paddle/blu-blank.png",
				"hd": false
			}
		]
	},
	"site_types": {
		"items": [
			{
				"id": 1,
				"site_type": "Premiere",
				"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
				"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
			},
			{
				"id": 2,
				"site_type": "Special Edition",
				"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
				"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
			},
			{
				"id": 3,
				"site_type": "Private Viewing",
				"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
				"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
			}
		]
	},
	"broadcast_statuses": {
		"items": [
			{
				"id":1,
				"open_issue":false,
				"status":"Broadcasting Satellite Feed - All Systems Go!",
				"require_details": false,
				"marker_url": "http://www.google.com"
			},
			{
				"id":2,
				"open_issue":false,
				"status":"Broadcasting Web Stream - Due to Weather",
				"require_details": false,
				"marker_url": "http://www.google.com"
			},
			{
				"id":3,
				"open_issue":true,
				"status":"Broadcasting Web Stream - Due to Other",
				"require_details": true,
				"marker_url": "http://www.google.com"
			},
			{
				"id":4,
				"open_issue":true,
				"status":"Rental Projector Issue (Premiere Only) - Still Broadcasting",
				"require_details": true,
				"marker_url": "http://www.google.com"
			},
			{
				"id":5,
				"open_issue":true,
				"status":"Other",
				"require_details": true,
				"marker_url": "http://www.google.com"
			},
			{
				"id":6,
				"open_issue":true,
				"status":"EMERGENCY - Offline",
				"require_details": true,
				"marker_url": "http://www.google.com"
			},
			{
				"id":7,
				"open_issue":false,
				"status":"Offline - End of Day",
				"require_details": false,
				"marker_url": "http://www.google.com"
			},
			{
				"id":8,
				"open_issue":true,
				"status":"Closed Captioning",
				"require_details": true,
				"marker_url": "http://www.google.com"
			},
			{
				"id":9,
				"open_issue":true,
				"status":"Language Translation",
				"require_details": true,
				"marker_url": "http://www.google.com"
			}
		]
	},
	"issues": {
		"items": [
			{
				"id":1,
				"broadcast_status_id":1,
				"broadcast_status":"Broadcasting Web Stream - Due to Weather",
				"contact_person":"John Smith",
				"contact_number":"555-556-1212",
				"created": 1372534777,
				"last_activity": 1372534988,
				"resolved": false,
				"site_id":1,
				"site_number":"87",
				"site_name":"First Church of Christ",
				"hd":false
			}
		]
	},
	"reports": {
		"overview": {
			"items": [
				[
					"Sites Reporting",
					"Online",
					"Abnormal",
					"Offline"
				],
				[
					"Live",
					138,
					2,
					0
				],
				[
					"Delayed",
					0,
					0,
					75
				]
			]
		}
	}
}


--
Admin Settings
--
Retrieve Settings
GET /settings
< 200
< Content-Type: application/json
{ "items": [{
	"logo":"data:image/png;base64,iVBORw0KGgoAAAANS...",
	"welcome_subject":"blah lah blah",
	"welcome_content":"afds asdf aafds asd fasdfasdf"
}] }

Update (200) or Create (201) admin settings
PUT /settings
> Content-Type: application/json
{
	"logo":"data:image/png;base64,iVBORw0KGgoAAAANS...",
	"welcome_subject":"blah lah blah",
	"welcome_content":"afds asdf aafds asd fasdfasdf"
}
< 204

--
Broadcast Statuses
--
Retrieve broadcast statuses
GET /broadcast_statuses
< 200
< Content-Type: application/json
{ "items": [
	{
		"id":1,
		"open_issue":false,
		"status":"Broadcasting Satellite Feed - All Systems Go!",
		"require_details": false,
		"marker_url": "http://www.google.com"
	},
	{
		"id":2,
		"open_issue":false,
		"status":"Broadcasting Web Stream - Due to Weather",
		"require_details": false,
		"marker_url": "http://www.google.com"
	},
	{
		"id":3,
		"open_issue":true,
		"status":"Broadcasting Web Stream - Due to Other",
		"require_details": true,
		"marker_url": "http://www.google.com"
	},
	{
		"id":4,
		"open_issue":true,
		"status":"Rental Projector Issue (Premiere Only) - Still Broadcasting",
		"require_details": true,
		"marker_url": "http://www.google.com"
	},
	{
		"id":5,
		"open_issue":true,
		"status":"Other",
		"require_details": true,
		"marker_url": "http://www.google.com"
	},
	{
		"id":6,
		"open_issue":true,
		"status":"EMERGENCY - Offline",
		"require_details": true,
		"marker_url": "http://www.google.com"
	},
	{
		"id":7,
		"open_issue":false,
		"status":"Offline - End of Day",
		"require_details": false,
		"marker_url": "http://www.google.com"
	},
	{
		"id":8,
		"open_issue":true,
		"status":"Closed Captioning",
		"require_details": true,
		"marker_url": "http://www.google.com"
	},
	{
		"id":9,
		"open_issue":true,
		"status":"Language Translation",
		"require_details": true,
		"marker_url": "http://www.google.com"
	}
] }



--
Chat
This is subject to change once i start actually implementing chat...

"All Live" field would just contain a comma separated list of all llive location types that would then be broken out into the proper recipients
--


Retrieve chat messages applicable to user (includes chat sent directly to that user, to user's site and to all in user's site type, etc.). I'm thinking I'll handle pagination on client side
GET /chats?user_id={1}&page={1}&items_per_page={10}
< 200
< Content-Type: application/json
{"items": [{
		"id":3,
		"full_name": "John Doe",
		"message": "issue details",
		"date": 1372535760,
		"recipients": [{"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
		"type": "issue",
		"meta_data":{
			"issue_id":1,
			"site_id":1,
			"site_number":"87",
			"site_name":"First Church of Christ",
			"broadcast_status_id":1,
			"broadcast_status":"Broadcasting Web Stream - Due to Weather",
			"details":"issue details",
			"hd":false
		}
	},
	{
		"id":2,
		"full_name": "Jane Doe",
		"message": "This is my chat text",
		"date": 1372950765,
		"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
		"type": "chat"
	},
	{
		"id":1,
		"full_name": "Jane Doorknob",
		"message": "This is my chat text right here!!!",
		"date": 1372534777,
		"recipients": [{"site_type_id": 1, "site_type": "premiere", "site_time": "live"}, {"site_type_id": 2, "site_type": "special edition", "site_time": "live"}, {"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
		"type": "chat"
	}
]}



Send a chat message

Create new issue if appropriate based on broadcast_status_id (IF INCLUDED).

The first payload below is an example of a chat, the second is an example of a broadcast_status change

For an issue, the chat just goes to that specific site, so, recipients will just be the site_id of the sender
POST /chats
> Content-Type: application/json
{
	"message": "some text here",
	"user_id": 1,
	"recipients": [{"site_type_id": 1, "site_time": "live"}, {"site_type_id": 2, "site_time": "live"}, {"site_id": 1}],
	"type": "chat"
},
{
	"message": "some text here",
	"user_id": 1,
	"recipients": [{"site_id": 1}],
	"type": "issue",
	"broadcast_status_id": 1
}
< 200
< Content-Type: application/json
{
	"id":4,
	"full_name": "John Doe",
	"message": "issue details",
	"date": 1372535760,
	"recipients": [{"site_id":1, "site_number":"87", "site_name":"First Church of Christ"}],
	"type": "issue",
	"meta_data":{
		"issue_id":2,
		"site_id":1,
		"site_number":"87",
		"site_name":"First Church of Christ",
		"broadcast_status_id":1,
		"broadcast_status":"Broadcasting Web Stream - Due to Other",
		"details":"issue details"
	}
}

--
Issues

All timestamps in GMT and displayed to the user in their own local time.
--
Retrieve Issues
GET /issues?resolved={false}
< 200
< Content-Type: application/json
{ "items": [{
	"id":1,
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-556-1212",
	"created": 1372534777,
	"last_activity": 1372534988,
	"resolved": false,
	"site_id":1,
	"site_number":"87",
	"site_name":"First Church of Christ",
	"hd":false
}] }

Retrieve a single issue, also getting its comments.

If a comment represents the resolution of the issue, include a 'resolution' param set to true.
GET /issues/{id}
< 200
< Content-Type: application/json
{
	"id":1,
	"broadcast_status_id":1,
	"broadcast_status":"Broadcasting Web Stream - Due to Weather",
	"contact_person":"John Smith",
	"contact_number":"555-556-1212",
	"created": 1372534777,
	"last_activity": 1372534988,
	"resolved": false,
	"site_id":1,
	"site_number":"87",
	"site_name":"First Church of Christ",
	"hd":false
	"comments": [
		{
			"id":1,
			"full_name": "Jane Doorknob",
			"message": "Changed status to Broadcasting Web Stream - Due to Weather",
			"date": 1372534777,
			"mobile_phone": "555-123-1233",
			"email": "jdoe@gmail.com"
		},
		{
			"id":2,
			"full_name": "Shana Case",
			"message": "I called and talked with John. Thunderstorms are moving through and should be done in 15 minutes.",
			"date": 1372534777
		},
		{
			"id":3,
			"full_name": "Jane Doorknob",
			"message": "Changed broadcast status to Broadcasting Satellite Feed",
			"date": 1372534777,
			"mobile_phone": "555-123-1233",
			"email": "jdoe@gmail.com",
			"resolution": true
		}
	]
}

create an issue comment. This is how issues are resolved as well...
POST /issues/{id}/comments
> Content-Type: application/json
{
	"user_id":1,
	"comment": "adsfasdf adsfadsf asdfasdf",
	"resolved":true
}
< 200
< Content-Type: application/json
{
	"id":4,
	"full_name": "Jane Doorknob",
	"message": "Changed broadcast status to Broadcasting Satellite Feed",
	"date": 1372534777,
	"mobile_phone": "555-123-1233",
	"email": "jdoe@gmail.com",
	"resolution": true
}
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }





--
Login
--
login a user
POST /login
> Content-Type: application/json
{ "username":"john@gmail.com", "password": "password" }
< 200
< Content-Type: application/json
{ "items": [
{
	"id":1,
	"username":"James Doe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin":true,
	"site":{
		"id":1,
		"site_number":"87",
		"site_status_id":1,
		"site_status":"Broadcasting Satellite Feed - All Systems Go!",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"hd":false
	},
	"profile_update_prompt": false
}
] }
+++++
< 400
{ "items": [
{ "message": "invalid username/password" }
] }


--
Reporting
--
Currently, this is for the micro-report on the dashboard bottom right. May be expanded...

Get basic metrics about current site statuses
GET /reports/dashboard/overview
< 200
< Content-Type: application/json
{ "items": [
	[
		"Sites Reporting",
		"Online",
		"Abnormal",
		"Offline"
	],
	[
		"Live",
		138,
		2,
		0
	],
	[
		"Delayed",
		0,
		0,
		75
	]
] }

Get all reports for reporting page
GET /reports/reporting
< 200
< Content-Type: application/json
{ "items": [
	{
		"id":1,
		"name":"Broadcasting Web Stream - Due to Weather",
		"items":[
			{
				"id": 1,
				"name": "All Sites"
				"items":[
					[
						"Total Minutes:",
						35
					],
					[
						"Min Minutes:",
						1
					],
					[
						"Median Minutes:",
						5
					]
				]
			},
			{
				"id": 2,
				"name": "Premiere Sites"
				"items":[
					[
						"Total Minutes:",
						35
					],
					[
						"Min Minutes:",
						1
					],
					[
						"Median Minutes:",
						5
					]
				]
			}
		]
	},
	{
		"id":3,
		"name":"Rental Projector Issue",
		"items":[
			{
				"id": 1,
				"name": "All Sites"
				"items":[
					[
						"Total Minutes:",
						35
					],
					[
						"Min Minutes:",
						1
					],
					[
						"Median Minutes:",
						5
					]
				]
			},
			{
				"id": 2,
				"name": "Premiere Sites"
				"items":[
					[
						"Total Minutes:",
						35
					],
					[
						"Min Minutes:",
						1
					],
					[
						"Median Minutes:",
						5
					]
				]
			}
		]
	}
]}

Get specific report for reporting page
GET /reports/reporting/{id}
< 200
< Content-Type: application/json
{
	"id":1,
	"name":"Broadcasting Web Stream - Due to Weather",
	"items":[
		{
			"id": 1,
			"name": "All Sites"
			"items":[
				[
					"Total Minutes:",
					35
				],
				[
					"Min Minutes:",
					1
				],
				[
					"Median Minutes:",
					5
				]
			]
		},
		{
			"id": 2,
			"name": "Premiere Sites"
			"items":[
				[
					"Total Minutes:",
					35
				],
				[
					"Min Minutes:",
					1
				],
				[
					"Median Minutes:",
					5
				]
			]
		}
	]
}



--
Reset Password
--
reset a user's password
GET /reset-password?email={email}
< 205



--
Sites
--
Retrieve Sites
GET /sites
< 200
< Content-Type: application/json
{ "items": [
	{
		"id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"site_status_id":1,
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"latitude": 41.850033,
		"longitude": -87.65005229999997,
		"marker_url": "http://maps.google.com/mapfiles/kml/paddle/grn-blank.png",
		"hd": true
	},
	{
		"id":2,
		"site_number":"76",
		"site_name":"Oak Drive Community Church",
		"site_type_id":2,
		"site_type": "Special Edition",
		"site_time":"live",
		"site_status_id":1,
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"latitude": 40.0150,
		"longitude": -105.2700,
		"marker_url": "http://maps.google.com/mapfiles/kml/paddle/purple-blank.png",
		"hd": false
	},
	{
		"id":3,
		"site_number":"23",
		"site_name":"Mulberry Lake Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"delayed",
		"site_status_id":1,
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"latitude": 33.890542,
		"longitude": -111.274856,
		"marker_url": "http://maps.google.com/mapfiles/kml/paddle/blu-blank.png",
		"hd": false
	}
] }

Create new site
POST /sites
> Content-Type: application/json
	{
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"hd":true
	}
< 201
< Content-Type: application/json
{ "items": [
	{
		"id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
		"latitude": 234234,
		"longitude": 324325,
		"marker_url": "http://www.google.com",
		"hd": true
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a site
PUT /sites/{id}
> Content-Type: application/json
{
	"site_number":"87",
	"site_name":"Willow Creek Community Church",
	"site_type_id":1,
	"site_time":"live",
	"address": "123 N Main Street",
	"city": "Indianapolis",
	"state": "Indiana",
	"zipcode": "46221",
	"hd":true
}
< 200
< Content-Type: application/json
{ "items": [
	{
		"id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221"
		"latitude": 234234,
		"longitude": 324325,
		"marker_url": "http://www.google.com",
		"hd": true
	}] }
+++++
< 201
< Content-Type: application/json
{ "items": [ {
	"id":1,
	"site_number":"87",
	"site_name":"Willow Creek Community Church",
	"site_type_id":1,
	"site_type": "premiere",
	"site_time":"live",
	"address": "123 N Main Street",
	"city": "Indianapolis",
	"state": "Indiana",
	"zipcode": "46221"
	"latitude": 234234,
	"longitude": 324325,
	"marker_url": "http://www.google.com",
	"hd": true
}] }
+++++
< 400
{ "items": [
	{ "message": "please check your payload and try again" }
] }




--
Site Types
--
Retrieve Site Types
GET /site_types
< 200
< Content-Type: application/json
{ "items": [{
	"id": 1,
	"site_type": "Premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
},{
	"id": 2,
	"site_type": "Special Edition",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
},{
	"id": 3,
	"site_type": "Private Viewing",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }

Create new site type
POST /site_types
> Content-Type: application/json
{
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}
< 201
< Content-Type: application/json
{ "items": [
{
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a site type
PUT /site_types/{id}
> Content-Type: application/json
{
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}
< 200
< Content-Type: application/json
{ "items": [
{
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 201
< Content-Type: application/json
{ "items": [ {
	"id": 1,
	"site_type": "premiere",
	"live_info": "adsf asdf asdf asdfasf asd fasdf asd",
	"delayed_info": "dfas afsddfw fwe w fasasdf asfa sdfawa w"
}] }
+++++
< 400
{ "items": [
	{ "message": "please check your payload and try again" }
] }

Delete site_type by id
DELETE /site_types/{id}
> Content-Type: application/json
< 204
+++++
< 400
{ "items": [
{ "message": "please provide site_types's id" }
] }



--
Users
The following is a section of resources related to users
--
retrieve all users
GET /users
< 200
< Content-Type: application/json
{ "items": [{
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin":false,
	"site":{
		"id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"hd":false
	},
	"profile_update_prompt": false
}] }

retrieve all users by site (location)
GET /users/site/{site}
< 200
< Content-Type: application/json
{ "items": [{
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin":false,
	"site":{
		"id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"hd":false
	},
	"profile_update_prompt": false
}] }


retrieve requested user by id
GET /users/{1}
+ Parameters
	+ callback ... jquery callback for jsonp
< 200
< Content-Type: application/json
{ "items": [{
	"id":1,
	"username":"jdoe",
	"email":"jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin":false,
	"site":{
		"id":1,
		"site_status_id":1,
		"site_number":"87",
		"site_name":"Willow Creek Community Church",
		"site_type_id":1,
		"site_type": "premiere",
		"site_time":"live",
		"address": "123 N Main Street",
		"city": "Indianapolis",
		"state": "Indiana",
		"zipcode": "46221",
		"hd":false
	},
	"profile_update_prompt": false
}] }
+++++
< 400
< Content-Type: application/json
{ "items": [
	{ "message": "Please provide a user's id" }
] }

Create new user
POST /users
> Content-Type: application/json
{
	"username":"jdoe",
	"email": "jdoe@gmail.com",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin": false,
	site_id: 1
}
< 201
< Content-Type: application/json
{ "items": [
	{
	   "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
	   "full_name":"John Doe",
	   "mobile_phone":"555-555-5555",
	   "is_admin":false,
		"site":{
			"id":1,
			"site_number":"87",
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221",
			"hd":false
		},
	   "profile_update_prompt": false
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }

Update (200) or Create (201) a user
PUT /users/{id}
> Content-Type: application/json
{
	"username":"jdoe",
	"email": "jdoe@gmail.com",
	"password": "password",
	"full_name":"John Doe",
	"mobile_phone":"555-555-5555",
	"is_admin": false,
	site_id: 1
}
< 200
< Content-Type: application/json
{ "items": [
{
	   "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
	   "full_name":"John Doe",
	   "mobile_phone":"555-555-5555",
	   "is_admin":false,
		"site":{
			"id":1,
			"site_number":"87",
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221",
			"hd":false
		},
	   "profile_update_prompt": false
	}] }
+++++
< 201
< Content-Type: application/json
{ "items": [
{
	   "id":1,
	   "username":"jdoe",
	   "email":"jdoe@gmail.com",
	   "full_name":"John Doe",
	   "mobile_phone":"555-555-5555",
	   "is_admin":false,
		"site":{
			"id":1,
			"site_number":"87",
			"site_name":"Willow Creek Community Church",
			"site_type_id":1,
			"site_type": "premiere",
			"site_time":"live",
			"address": "123 N Main Street",
			"city": "Indianapolis",
			"state": "Indiana",
			"zipcode": "46221",
			"hd":false
		},
	   "profile_update_prompt": false
	}] }
+++++
< 400
{ "items": [
{ "message": "please check your payload and try again" }
] }


Delete user by id
DELETE /users/{id}
> Content-Type: application/json
< 204
+++++
< 400
{ "items": [
{ "message": "please provide user's id" }
] }

-- JSON Schema Validations --
GET /broadcast_statuses
{
	"$schema": "http://json-schema.org/draft-04/schema#",
	"title": "Broadcast Statuses Set",
	"type": "array",
	"items": {
		"title": "Broadcast Status",
		"type": "object",
		"properties":{
			"id":{
				"descripton": "unique identifier for broadcast status",
				"type": "number"
			},
			"open_issue":{
				"description": "Whether this status triggers an issue being created",
				"type": "boolean"
			},
			"status":{
				"description": "populates drop-down box for user submitted statuses",
				"type": "string",
				"oneOf": [
					"Broadcasting Satellite Feed - All Systems Go!",
					"Broadcasting Web Stream - Due to Weather",
					"Broadcasting Web Stream - Due to Other",
					"Rental Projector Issue (Premiere Only) - Still Broadcasting",
					"Other",
					"EMERGENCY - Offline",
					"Offline - End of Day"
				]
			},
			"require_details": {
				"type": "boolean"
			},
			"marker_url": {
				"desctiption": "image url (or data)",
				"type": "string"
			}
		}
	},
	"required": ["id", "open_issue", "status", "require_details", "marker_url"]
}

POST /issues/{id}/comment
{
	"$schema": "http://json-schema.org/draft-04/schema#",
	"title": "Comment on an Issue",
	"type": "object",
	"properties": {
		"user_id":{
			"description": "id of user making comment",
			"type": "number"
		},
		"comment": {
			"description": "user entered text",
			"type": "string"
		},
		"resolved": {
			"description": "whether this comment indicates the resolution of the issue",
			"type": "boolean"
		}
	},
	"required": ["user_id", "comment", "resolved"]
}
